# 01_envar.config
option_settings:
  aws:elasticbeanstalk:application:environment:
    SECRET: "secretUberEatCode"
    PORT: "8080"
    CLOUD_NAME: "du8i297qx"
    API_KEY: "815649953141156"
    API_SECRET: "AuaE6dslMG9MdxR4VXRMgXgL7pE"
    DATABASE: "mongodb+srv://myApp:admin21@cluster0-9jcvj.mongodb.net/UberEats?retryWrites=true&w=majority"
